.intro {
    text-align: center;
    padding: 5.5rem 1.5rem 4.25rem 1.5rem;
    max-width: 69.375rem;
    margin: auto;

    &__signup__container {
        max-width: 33.75rem;
        margin: auto;
    }

    &__text {
        margin-bottom: 4rem;
        color: white;

        h1 {
            font-size: 1.75rem;
            letter-spacing: -0.29px;
            line-height: 2.25rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.625rem;
            max-width: 32.8125rem;
            margin: auto;
        }
    }

    &__cta {
        padding: 1.125rem 4.125rem;
        background: $Blue;
        font-size: 0.9375rem;
        letter-spacing: 0.27px;
        line-height: 1.625rem;
        border-radius: 0.625rem;
        color: white;
        margin-bottom: 1.5rem;
        box-shadow: 0 8px 0 hsla(0, 0%, 0%, 0.147);
    }

    &__form {
        background: white;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 8px 0 hsla(0, 0%, 0%, 0.147);

        &__input {
            position: relative;
            text-align: right;

            input {
                padding: 0.9375rem 0rem 0.9375rem 1.213125rem;
                font-size: 0.875rem;
                font-weight: 600;
                margin-bottom: 1rem;
                width: 100%;
                border-radius: 5px;
                border: 1px #DEDEDE solid;
                line-height: 1.625rem;
                letter-spacing: 0.25px;
            }

            img {
                position: absolute;
                top: 1rem;
                right: 1.625rem;
            }

            small { 
                font-style: italic;
                bottom: 6px;
                font-size: 0.6875rem;
                color: $Red;
                display: block;
                margin-bottom: 1.1875rem;
            }
        }

        button {
            background: $Green;
            text-transform: uppercase;
            padding: 0.9375rem 2.75rem;
            font-family: inherit;
            color: white;
            letter-spacing: 1px;
            line-height: 1.625rem;
            font-weight: 600;
            border-radius: 5px;
            margin-bottom: 0.5rem;
            width: 100%;

            &:hover {
                background: hsl(154, 65%, 68%);
            }
        }

        p {
            color: $GrayishBlue;
            font-size: 0.6875rem;
            padding: 0rem 1.625rem;
            display: block;

            span {
                color: $Red;
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 68.75em) {
    .intro {
        display: flex;
        align-items: center;
        height: 100vh;
        padding: 0;

        &__text {
            text-align: left;
            margin-right: 2.8125rem;
            margin-bottom: 0;

            h1 {
                font-size: 3.125rem;
                line-height: 3.4375rem;
                letter-spacing: -0.52px;
                margin: 0 auto 0.6875rem;
                max-width: 32.8125rem;
            }
        }

        &__form {
            padding: 2.5rem;

            input {
                margin-bottom: 1.25rem;
                padding-left: 2rem;
            }
        }
    }
}
