html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: url("../../images/bg-intro-mobile.png");
  background-color: #ff7a7a;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 68.75em) {
  body {
    background-image: url("../../images/bg-intro-desktop.png");
  }
}

.intro {
  text-align: center;
  padding: 5.5rem 1.5rem 4.25rem 1.5rem;
  max-width: 69.375rem;
  margin: auto;
}

.intro__signup__container {
  max-width: 33.75rem;
  width: 100%;
  margin: auto;
}

.intro__text {
  margin-bottom: 4rem;
  color: white;
}

.intro__text h1 {
  font-size: 1.75rem;
  letter-spacing: -0.29px;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.intro__text p {
  font-size: 1rem;
  line-height: 1.625rem;
  max-width: 32.8125rem;
  margin: auto;
}

.intro__cta {
  padding: 1.125rem 4.125rem;
  background: #6055a5;
  font-size: 0.9375rem;
  letter-spacing: 0.27px;
  line-height: 1.625rem;
  border-radius: 0.625rem;
  color: white;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.147);
}

.intro__form {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.147);
}

.intro__form__input {
  position: relative;
  text-align: right;
}

.intro__form__input input {
  padding: 0.9375rem 0rem 0.9375rem 1.213125rem;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px #DEDEDE solid;
  line-height: 1.625rem;
  letter-spacing: 0.25px;
}

.intro__form__input img {
  position: absolute;
  top: 1rem;
  right: 1.625rem;
  display: none;
}

.intro__form__input small {
  font-style: italic;
  bottom: 6px;
  font-size: 0.6875rem;
  color: #ff7a7a;
  display: none;
  margin-bottom: 1.1875rem;
}

.intro__form button {
  background: #38cc8c;
  text-transform: uppercase;
  padding: 0.9375rem 2.75rem;
  font-family: inherit;
  color: white;
  letter-spacing: 1px;
  line-height: 1.625rem;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.intro__form button:hover {
  background: #78e2b4;
}

.intro__form p {
  color: #b9b6d3;
  font-size: 0.6875rem;
  padding: 0rem 1.625rem;
  display: block;
}

.intro__form p span {
  color: #ff7a7a;
  font-weight: bold;
}

@media screen and (min-width: 68.75em) {
  .intro {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0;
  }
  .intro__text {
    text-align: left;
    margin-right: 2.8125rem;
    margin-bottom: 0;
  }
  .intro__text h1 {
    font-size: 3.125rem;
    line-height: 3.4375rem;
    letter-spacing: -0.52px;
    margin: 0 auto 1.75rem;
    max-width: 32.8125rem;
  }
  .intro__form {
    padding: 2.5rem;
  }
  .intro__form input {
    margin-bottom: 1.25rem;
    padding-left: 2rem;
  }
}

.error input {
  color: #ff7a7a !important;
  border-color: #ff7a7a;
}

.error small {
  display: block;
}

.error img {
  display: block;
}
/*# sourceMappingURL=style.css.map */